[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/vim-scripts/gundo.git
[submodule "bundle/headerguard"]
	path = bundle/headerguard
	url = https://github.com/drmikehenry/vim-headerguard.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/todo-txt"]
	path = bundle/todo-txt
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "bundle/xterm-color-table.vim"]
	path = bundle/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
